*
    margin: 0
    padding: 0
    box-sizing: border-box

// Buttons
@keyframes dash
    0%
        stroke-dashoffset: 400
    15%
        stroke-dashoffset: 800
    60%
        stroke-dashoffset: 400

body
  &.page-id-9
    header
      .inner
        .left
          ul
            li
              a
                &.active
                  box-shadow: none
        .right
          ul
            li
              a
                &.active
                  box-shadow: none
  &.if-ie
    main.front
      .inner
        position: absolute
        top: 50%
        left: 0
        right: 0
        margin: 0 auto

main.page-not-found
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    height: 100vh
    width: 100%
    min-height: 100px
    background: #e1e1e1
    h1
        font-size: 5em
        @media(max-width: 960px)
            font-size: 3em
        @media(max-width: 600px)
            font-size: 2.5em
    h1, p
        width: 100%
        text-align: center
    p
        margin-top: 25px
    .inner
        @media(max-width: 1440px)
            width: 90%
    .button-container
        margin-top: 50px
        a
            color: $black
            svg
                width: 20px
                height: 20px
                margin-right: 10px
                fill: none
                stroke: $black
                stroke-width: 5px
                stroke-dasharray: 800
                stroke-dashoffset: 400
                animation: dash 5s infinite
                @include transform(rotate(-180deg))

