// Buttons
@keyframes dash
    0%
        stroke-dashoffset: 400
    15%
        stroke-dashoffset: 800
    60%
        stroke-dashoffset: 400
    
@mixin button
    display: flex
    align-items: center
    width: 250px
    height: 60px
    margin: auto
    box-shadow: 0 0 0 1px white
    background: white
    transition: all ease 200ms
    position: relative
    &:hover
        @include transform(scale(1.05))
    &:hover svg.animation
        stroke-dasharray: 800
        stroke-dashoffset: 400
        animation: dash 5s infinite
        @include transform(translateX(5px))
    a
        display: flex
        height: 100%
        width: 85%
        margin: auto
        justify-content: space-between
        align-items: center
        text-decoration: none
        span
            color: black
            font-weight: $bold
            font-size: $mini
            height: auto
        svg
            fill: black
            width: 20px
            transition: all linear 400ms
            &.animation
                fill: none
                stroke: black
                stroke-width: 5px
.button-container
    @include button