$primary-font: 'Helvetica'
$secondary-font: 'Noe Display'

$light: 300
$regular: 400
$bold: 700

$mini: 0.8em
$small: 1em
$normal: 1.2em
$medium: 1.5em
$big: 2.5em
$large: 3.5em
$huge: 8em

// Mixins and other setup
@mixin noe-display
    font-family: $secondary-font
.noe-display
    @include noe-display

@mixin helvetica
    font-family: $primary-font
.helvetica
    @include helvetica
    &.light
        font-weight: $light
    &.regular
        font-weight: $regular
    &.bold
        font-weight: $bold
h1
    font-size: $huge
    line-height: 100%
    @media(max-width: 1280px)
        font-size: 6em
    @media(max-width: 960px)
        font-size: 3em
    @media(max-width: 600px)
        font-size: 2em
h2
    font-size: $big
h3
    font-size: $large
h4
    font-size: $medium
h5
    font-size: $small
h6
    font-size: $mini

@mixin paragraf
    font-family: $primary-font
    line-height: 140%
    font-size: $small
    font-weight: $regular
p
    @include paragraf

// General settings
*
    font-family: $primary-font
    font-weight: $regular