*
    //box-shadow: 0 0 0 1px red
    
#cookie-notice
    padding: 20px 0
    .cookie-notice-container
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 95%
        margin: 0 auto

        #cn-notice-text
            color: $black
            @include paragraf
            line-height: 50px

            @media(max-width: 1700px)
                width: 100%
                line-height: normal

            a
                &.read-more-button
                    color: $black
                    margin-left: 10px
                    font-weight: $bold
                    box-shadow: 0 2px 0 0 $black
                    text-decoration: none

                    &:hover
                        text-decoration: none
                        opacity: 0.7
        a
            &.cn-set-cookie
                width: 150px
                height: 50px
                background: $white
                color: $black
                line-height: 50px
                font-weight: $regular
                font-size: $normal
                text-decoration: none
                transition: all ease 400ms

                &:hover
                    text-decoration: none
                    background: $black
                    color: $white
                    box-shadow: none

                @media(max-width: 1700px)
                    width: 200px
                    margin: auto
                    margin-top: 20px