main.sidmall
    .flexibelt-innehall-container
        @media(max-width: 960px)
            margin-top: 100px
        @media(max-width: 600px)
            margin-top: 70px
        .topp-hero
            position: relative
            top: 0
            left: 0
            width: 100%
            height: 90vh
            min-height: 100px
            z-index: -1
            display: flex
            justify-content: center
            align-items: center
            @media(max-width: 1440px)
                height: 600px
            @media(max-width: 960px)
                height: 400px
                margin-top: 100px
            @media(max-width: 600px)
                height: 300px
                margin-top: 70px
            .topp-hero-inner
                display: flex
                h1
                    color: white
        .kontakta-oss-hero
            position: relative
            top: 0
            left: 0
            width: 100%
            height: 100vh
            min-height: 100px
            z-index: 1
            display: flex
            justify-content: center
            align-items: center
            @media(max-width: 960px)
                height: auto
                padding: 150px 0
            @media(max-width: 600px)
                height: auto
                padding: 50px 0
            &.white
                background-color: #e1e1e1
                .kontakta-oss-hero-inner
                    h5, h2
                        color: $black
                    .button-container
                        background: $black
                        a
                            span
                                color: white
                            svg
                                stroke: white
            .kontakta-oss-hero-inner
                display: flex
                width: 768px
                flex-wrap: wrap
                @media(max-width: 768px)
                    width: 90%
                h5
                    color: $white
                    font-weight: $light
                    text-transform: uppercase
                    font-size: $normal
                    width: 100%
                    text-align: center
                    margin-bottom: 5px
                    letter-spacing: 2px
                    @media(max-width: 600px)
                        font-size: $mini
                h2
                    color: white
                    width: 100%
                    text-align: center
                    font-size: $large
                    margin-bottom: 25px
                    @media(max-width: 600px)
                        font-size: $big
                .button-container
                    // se mixins
        .referenser-container
            width: 100%
            display: flex
            .referenser-inner
                width: 1440px
                margin: auto
                display: flex
                justify-content: space-between
                flex-wrap: wrap
                @media(max-width: 1440px)
                    width: 90%
                    margin: 50px auto
                .referens
                    width: 48%
                    height: 800px
                    position: relative
                    margin-bottom: 50px
                    &:nth-child(odd)
                        @include transform(translateY(-150px))
                        @media(max-width: 960px)
                            @include transform(translateY(0))
                    @media(max-width: 1440px)
                        height: 600px
                    @media(max-width: 600px)
                        width: 100%
                        height: 300px
                        margin-bottom: 20px
                    &:hover .filter
                        background: rgba(0,0,0,0.70)
                    .filter
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        background: rgba(0,0,0,0.25)
                        z-index: 1
                        transition: all ease 400ms
                    .meta
                        position: absolute
                        top: 50px
                        left: 5%
                        width: 90%
                        height: auto
                        z-index: 2
                        h5
                            font-size: $small
                            font-weight: $light
                            text-transform: uppercase
                            letter-spacing: 2px
                            color: white
                            margin-bottom: 10px
                            @media(max-width: 1024px)
                                font-size: $mini
                        h3
                            font-size: $big
                            color: white
                            @media(max-width: 1024px)
                                font-size: $medium
        .text-bild-block-container
            display: flex
            justify-content: space-between
            width: 100%
            height: 100vh
            min-height: 100px
            flex-wrap: wrap
            @media(max-width: 960px)
                height: auto
            &.normal
                .left
                    order: 1
                    width: 52%
                    @media(max-width: 960px)
                        width: 100%
                    h3, h5, p
                        color: $black
                    h5
                        font-size: $small
                        font-weight: $light
                        text-transform: uppercase
                        letter-spacing: 2px
                        margin-bottom: 10px
                        @media(max-width: 600px)
                            font-size: $mini
                    ul
                      padding-left: 20px
                      li
                        margin-bottom: 10px
                        ul
                          padding-left: 20px
                          margin: 20px 0

                .right
                    order: 2
                    width: 48%
                    @media(max-width: 960px)
                        width: 100%
                        height: 400px
            &.inverterad
                .right
                    order: 1
                    width: 48%
                    @media(max-width: 960px)
                        width: 100%
                        height: 400px
                        order: 2
                .left
                    order: 2
                    width: 52%
                    background: $black
                    @media(max-width: 960px)
                        width: 100%
                        order: 1
                    h3, h5, p
                        color: white
                    h5
                        font-size: $small
                        font-weight: $light
                        text-transform: uppercase
                        letter-spacing: 2px
                        margin-bottom: 10px
                        @media(max-width: 600px)
                            font-size: $mini
            .left
                display: flex
                justify-content: center
                align-items: center
                padding: 100px
                p
                    margin-bottom: 20px
                @media(max-width: 960px)
                    padding: 25px
                h3
                    @media(max-width: 600px)
                        font-size: $big
            .right
        .textblock-container
            display: flex
            justify-content: center
            width: 100%
            height: auto
            min-height: 100px
            flex-wrap: wrap
            display: flex
            justify-content: center
            align-items: center
            padding: 100px 0
            .inner
                width: 768px
                margin: auto
                p
                    margin-bottom: 20px
                @media(max-width: 960px)
                    padding: 25px
                h2
                    width: 100%
                    text-align: center
                    margin-bottom: 50px
                    @media(max-width: 600px)
                        font-size: $big
                h5
                    font-weight: $light
                    text-transform: uppercase
                    width: 100%
                    text-align: center
                    margin-top: 50px
                    @media(max-width: 600px)
                        font-size: $big
        .kontaktinfo-container
            position: relative
            width: 100%
            height: auto
            min-height: 100px
            display: flex
            justify-content: center
            align-items: center
            flex-wrap: wrap
            padding: 250px 0
            @media(max-width: 960px)
                height: auto
                padding: 50px 0
            .kontaktinfo-inner
                width: 1280px
                display: flex
                justify-content: space-around
                align-items: center
                flex-wrap: wrap
                position: relative
                padding: 100px 0
                @media(max-width: 1280px)
                    width: 90%
                @media(max-width: 600px)
                    padding: 100px 0 50px 0

                h1
                    width: 100%
                    color: white
                    text-align: center
                    width: 100%
                    position: absolute
                    top: -55px
                    let: 0
                    right: 0
                    @media(max-width: 1440px)
                        top: -30px
                    @media(max-width: 960px)
                        top: -20px
                    @media(max-width: 600px)
                        top: 40px
                .left
                    width: 45%
                    color: white
                    border-right: 1px solid white
                    @media(max-width: 960px)
                        width: 100%
                        border: none
                    .form-container
                        width: 70%
                        position: relative
                        overflow: hidden
                        margin: 20px 5%
                        @media(max-width: 960px)
                            width: 90%
                            margin: 0 5%
                        .wpcf7
                            form
                                width: 100%
                                position: relative
                                overflow: hidden
                                .wpcf7-mail-sent-ok
                                    width: 100%
                                    padding: 0
                                    margin: 0
                                    display: inline-block
                                    float: left
                                    margin: 10px 0
                                    padding-right: 0px
                                    line-height: 140%
                                    border: none
                                    font-size: $small
                                    display: none
                                .wpcf7-validation-errors
                                    width: 100%
                                    padding: 0
                                    margin: 0
                                    display: inline-block
                                    float: left
                                    margin-bottom: 20px
                                    padding-right: 0px
                                    line-height: 140%
                                    border: none
                                    font-size: $small
                                    margin-top: 10px
                                p
                                    .wpcf7-not-valid-tip
                                        color: white
                                        width: 100%
                                        margin-top: 2.5px
                                        display: inline-block
                                        float: left
                                        margin-bottom: 0
                                        display: none
                                    .ajax-loader
                                        background: white
                                        width: 0px
                                        height: 5px
                                        margin: 0
                                        padding: 0
                                        visibility: visible
                                        display: inline-block
                                        float: left
                                        margin: 10px 0
                                        &.is-active
                                            animation: load 1s infinite
                                    br
                                        display: none
                                    label
                                        display: flex
                                        flex-wrap: wrap
                                        width: 100%
                                        height: auto
                                        margin-bottom: 10px
                                        font-size: $small
                                        font-weight: $light
                                        &.gdpr-special
                                            a
                                                color: white
                                            span
                                                margin: 0
                                            label
                                                justify-content: space-between
                                                span
                                                    width: 93%
                                                input
                                                    width: 4%

                                        span
                                            width: 100%
                                            margin-top: 10px
                                            input[type="text"]
                                                padding: 5px
                                                border: none
                                                outline: none
                                                box-shadow: inset 0 0 0 1px #e1e1e1
                                                display: inline-block
                                                float: left
                                                width: 100%
                                                height: 40px
                                                font-size: $small
                                                font-weight: $bold
                                                background: none
                                                border: 1px solid white
                                                color: white
                                            input[type="email"]
                                                padding: 5px
                                                border: none
                                                outline: none
                                                box-shadow: inset 0 0 0 1px #e1e1e1
                                                display: inline-block
                                                float: left
                                                width: 100%
                                                height: 40px
                                                font-size: $small
                                                font-weight: $bold
                                                background: none
                                                border: 1px solid white
                                                color: white
                                            textarea
                                                background: none
                                                border: 1px solid white
                                                color: white
                                                width: 100%
                                                padding: 10px
                                                height: 100px
                                            input[type="checkbox"]
                                            .wpcf7-list-item-label
                                                width: auto

                                    input[type="submit"]
                                        border: none
                                        outline: none
                                        box-shadow: inset 0 0 0 1px $black
                                        width: 100%
                                        padding: 20px
                                        font-size: $small
                                        text-align: left
                                        margin-top: 10px
                                        font-size: $mini
                                        background: url(../../assets/images/Arrow_right_black.svg) no-repeat center right 20px
                                            size: 20px
                                        background-color: $black
                                        color: white
                                        font-weight: $bold
                                        background-color: white
                                        color: $black
                .right
                    width: 40%
                    color: white
                    @media(max-width: 960px)
                        width: 90%
                        margin: 50px 5% 0 5%
                    p
                        width: 100%
                        font-weight: $light
                        margin-bottom: 20px
                        strong
                            font-weight: $bold
                            margin-right: 5px
                        a
                            color: white
                            text-decoration: none
                            box-shadow: 0 1px 0 0 white
                            transition: all ease 400ms
                            &:hover
                                opacity: 0.6
        .personal-container
            display: flex
            justify-content: space-around
            align-items: flex-start
            flex-wrap: wrap
            width: 1440px
            margin: 50px auto
            @media(max-width: 1440px)
                width: 90%
            h1
                width: 100%
                text-align: center
                font-size: $large
                margin-bottom: 50px
                @media(max-width: 960px)
                    font-size: $big
            .personal
                display: flex
                justify-content: center
                width: 29.33%
                margin: 2%
                flex-wrap: wrap
                @media(max-width: 960px)
                    width: 46%
                @media(max-width: 600px)
                    width: 100%
                    margin: 0 0 50px 0
                img
                    //
                p, h4
                    width: 100%
                    text-align: center
