@keyframes load
    0%
        width: 0%
    50%
        width: 100%

// Buttons
@keyframes dash
    0%
        stroke-dashoffset: 400
    15%
        stroke-dashoffset: 800
    60%
        stroke-dashoffset: 400

main.front
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    min-height: 100px
    z-index: -2
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    .mobile-button
        display: none
        @media(max-width: 1280px)
            display: flex
            margin-top: 50px
            position: relative
            z-index: 2
            &.active
                display: none
        a
            color: $black
            font-weight: $bold
            svg
                fill: none
                stroke: $black
                stroke-width: 5px
                stroke-dasharray: 800
                stroke-dashoffset: 400
                animation: dash 5s infinite
    .outer
        position: fixed
        top: 0
        left: 0
        width: 600px
        height: 100vh
        min-height: 100px
        z-index: 1
        display: flex
        justify-content: center
        align-items: center
        .cta-block
            width: 600px
            height: auto
            background: $white
            transition: all ease 400ms
            position: relative
            -webkit-overflow-scrolling: touch
            @include transform(translateX(-100%))
            &.active
                @include transform(translateX(-0%))
                span
                    transition: all ease-in-out 600ms
                    &.open
                        @include transform(translateY(90px))
                    &.close
                        @include transform(translateY(-90px))
            @media(max-width: 600px)
                padding: 100px 0
            .mobile-close
                position: absolute
                top: 5%
                right: 5%
                margin: 0 auto
                width: 25px
                height: 25px
                display: none
                background: url(../../assets/images/Close.svg)
                    size: 20px
                    repeat: no-repeat
                    position: center
                @media(max-width: 1280px)
                    display: block
            @media(max-width: 1280px)
                position: fixed
                top: 0
                left: 0
                height: 100vh
                min-height: 100px
                width: 100%
                padding-top: 50px
                overflow-y: auto
                overflow-x: hidden
                z-index: 4
            button.primary-btn
                position: absolute
                right: -100%
                width: 270px
                height: 90px
                overflow: hidden
                outline: none
                border: none
                background: $white
                transform-origin: 0 0
                cursor: pointer
                @include transform(rotate(90deg) translateY(240px) translateX(32.5%))
                @media(max-width: 1280px)
                    display: none
                span
                    @include helvetica
                    font-size: $medium
                    letter-spacing: 1px
                    position: relative
                    font-weight: $bold
                    svg
                        position: absolute
                        top: 50%
                        margin-top: -7.5px
                        margin-left: 10px
                        width: 20px
                        height: auto
                        stroke-dasharray: 800
                        stroke-dashoffset: 400
                        animation: dash 5s infinite
                    &.open
                        display: inline-block
                        float: left
                        width: 100%
                        height: 100%
                        line-height: 90px
                        color: $black
                        svg
                            fill: none
                            stroke: $black
                            stroke-width: 5px
                            @include transform(rotate(-90deg))
                    &.close
                        display: inline-block
                        float: left
                        width: 100%
                        height: 100%
                        line-height: 90px
                        color: $white
                        background: $black
                        svg
                            fill: $white
                            width: 15px
                            margin-top: -6px
            h4
                width: 100%
                text-align: center
                margin: 50px 0 20px 0

            .form-container
                width: 90%
                position: relative
                overflow: hidden
                margin: 20px 5% 50px 5%
                @media(max-width: 600px)
                    width: 90%
                    margin: 20px 5% 5% 5%
                .wpcf7
                    form
                        width: 100%
                        position: relative
                        overflow: hidden
                        .wpcf7-mail-sent-ok
                            width: 100%
                            padding: 0
                            margin: 0
                            text-align: center
                            display: inline-block
                            float: left
                            margin: 10px 0
                            padding-right: 0px
                            line-height: 140%
                            border: none
                            font-size: $small
                        .wpcf7-validation-errors
                            width: 100%
                            padding: 0
                            margin: 0
                            display: inline-block
                            float: left
                            text-align: center
                            margin-bottom: 20px
                            padding-right: 0px
                            line-height: 140%
                            border: none
                            font-size: $small
                            display: none
                            margin-top: 10px
                        p
                            .wpcf7-not-valid-tip
                                color: rgba(0,0,0,0.8)
                                width: 100%
                                margin-top: 2.5px
                                display: inline-block
                                float: left
                                margin-bottom: 0
                                display: none
                            .ajax-loader
                                background: $black
                                width: 0px
                                height: 5px
                                margin: 0
                                padding: 0
                                visibility: visible
                                display: inline-block
                                float: left
                                margin: 10px 0
                                &.is-active
                                    animation: load 1s infinite
                            br
                                display: none
                            label
                                display: inline-block
                                float: left
                                width: 46%
                                margin: 0 2%
                                height: auto
                                margin-bottom: 10px
                                font-size: $small
                                font-weight: $light
                                .wpcf7-list-item
                                    margin: 0
                                &:nth-child(9)
                                    width: 100%
                                .gdpr
                                    a
                                        color: black
                                    label
                                        width: 100%!important
                                @media(max-width: 600px)
                                    width: 100%
                                span
                                    font-size: 12px
                                    input,
                                    textarea
                                        @media(max-width: 1024px)
                                            background: rgba(0,0,0,0.1)
                                    input[type="text"]
                                        padding: 5px
                                        border: none
                                        outline: none
                                        box-shadow: inset 0 0 0 1px #e1e1e1
                                        display: inline-block
                                        float: left
                                        width: 100%
                                        height: 30px
                                        font-size: $small
                                        font-weight: $bold
                                    input[type="email"]
                                        padding: 5px
                                        border: none
                                        outline: none
                                        box-shadow: inset 0 0 0 1px #e1e1e1
                                        display: inline-block
                                        float: left
                                        width: 100%
                                        height: 30px
                                        font-size: $small
                                        font-weight: $bold
                                    textarea
                                        padding: 5px
                                        height: 70px
                                        width: 100%
                                        border: none
                                        box-shadow: inset 0 0 0 1px #e1e1e1
                                        @media(max-width: 1280px)
                                            background: #e1e1e1
                            input[type="submit"]
                                display: block
                                margin: 0 auto
                                border: none
                                outline: none
                                box-shadow: inset 0 0 0 1px $black
                                width: 200px
                                padding: 20px
                                font-size: $small
                                text-align: left
                                margin-top: 10px
                                font-size: $mini
                                cursor: pointer
                                background: url(../../assets/images/Arrow_right.svg) no-repeat center right 20px
                                    size: 20px
                                background-color: $black
                                color: $white
                                font-weight: $bold
    .filter
        z-index: -1
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0,0,0,0.2)
    .inner
        width: 960px
        margin: auto
        height: auto
        @media(max-width: 1280px)
            width: 720px
        @media(max-width: 960px)
            width: 90%
        h1
            color: $white
            @media(max-width: 1280px)
                text-align: center
            @media(max-width: 600px)
                width: 70%
                margin-left: 15%