// Buttons
@keyframes dash
    0%
        stroke-dashoffset: 400
    15%
        stroke-dashoffset: 800
    60%
        stroke-dashoffset: 400

header
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100px
    background: $white
    z-index: 9999
    display: flex
    justify-content: space-between
    align-items: center
    transition: all ease 400ms
    @media(max-width: 600px)
        height: 70px
    &.bla
        @include transform(translateY(-100%))
    .inner
        display: flex
        justify-content: space-between
        align-items: center
        height: 90%
        width: 100%
        margin: auto
        @media(max-width: 1024px)
            width: 90%
        .left
            margin-left: 2.5%
            @media(max-width: 1024px)
                display: none
            ul
                display: flex
                justify-content: space-around
                flex-wrap: wrap
                li
                    list-style: none
                    margin-right: 20px
                    a
                        color: $black
                        font-weight: $bold
                        text-decoration: none
                        &.active
                          box-shadow: 0 1px 0 black

        .middle
            display: flex
            justify-content: center
            align-items: center
            height: auto
            img
                width: auto
                height: 70px
                @media(max-width: 600px)
                    height: 50px
        .right
            margin-right: 2.5%
            @media(max-width: 1024px)
                display: none
            ul
                display: flex
                justify-content: space-around
                flex-wrap: wrap
                li
                    list-style: none
                    margin-left: 20px
                    a
                        color: $black
                        font-weight: $bold
                        text-decoration: none
                        &.active
                          box-shadow: 0 1px 0 black

        .mobil-menu
            display: none
            @media(max-width: 1024px)
                display: flex
                flex-wrap: wrap
                width: 40px
                height: auto
                margin-top: 8px
                cursor: pointer
                .line.long
                    width: 100%
                    height: 3px
                    background: $black
                    margin-bottom: 4px
                    transition: all ease 400ms
                .line.short
                    width: 70%
                    height: 3px
                    background: $black
                    margin-bottom: 4px
                    transition: all ease 400ms
                p
                    width: 100%
                    height: auto
                    text-transform: uppercase
                    font-size: 14px
                    font-weight: $bold
.mobil-menu-container
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 0
    display: flex
    justify-content: center
    align-items: center
    background: rgba(0,0,0,0.8)
    z-index: 3
    overflow: hidden
    transition: all ease 400ms
    &.active
        height: 100vh
        -webkit-overflow-scrolling: touch
    ul
        width: 100%
        display: flex
        flex-wrap: wrap
        li
            width: 100%
            margin-bottom: 10px
            a
                display: inline-block
                width: 100%
                font-size: $big
                color: $white
                text-align: center
                text-decoration: none
                font-weight: $bold
                @media(max-width: 600px)
                    font-size: $medium

.backUp
    position: fixed
    bottom: 5%
    right: 5%
    width: 50px
    height: 50px
    background: rgba(255,255,255,1)
    display: flex
    justify-content: center
    align-items: center
    display: none
    z-index: 9999999!important
    @include transform(rotate(-90deg))
    &.active
        display: flex
    svg
        fill: none
        stroke: $black
        stroke-width: 5px
        stroke-dasharray: 800
        stroke-dashoffset: 400
        animation: dash 5s infinite
        width: 20px
