main.referens-subpage
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    position: relative
    .left
        width: 1440px
        display: flex
        justify-content: space-around
        align-items: center
        flex-wrap: wrap
        margin: 150px auto 0 auto
        .left-inner
            width: 50%
            @media(max-width: 960px)
                width: 90%
            h5
                width: 100%
                text-align: center
                margin-bottom: 20px
                color: $black
                font-weight: $light
                text-transform: uppercase
                font-size: $normal
                width: 100%
                text-align: center
                letter-spacing: 2px
            h1
                width: 100%
                text-align: center
                font-size: $large
                margin-bottom: 25px
            p.ingress
                max-width: 600px
                display: block
                margin: 0 auto
                margin-bottom: 25px
                font-weight: $bold
            .text-container
                width: 100%
                margin: auto
                h1,h2,h3,h4,h5,h6
                    @include noe-display
                    margin: 0px 0 20px 0
                p
                    margin-bottom: 20px
        img
            width: 30%
            @media(max-width: 960px)
                width: 90%
    .right
        position: absolute
        right: 0
        top: 0
        width: 100%
        height: 100vh
        min-height: 100px
    .fler-referenser
        width: 100%
        position: relative
        margin-top: 100px
        h2
            width: 100%
            text-align: center
            margin-bottom: 50px
        .referenser-inner
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            width: 1440px
            margin: auto
            @media(max-width: 1440px)
                width: 90%
            .referens
                width: 48%
                height: 400px
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                position: relative
                text-decoration: none
                color: white
                &:nth-child(odd)
                    margin-bottom: 50px
                @media(max-width: 600px)
                    height: 300px
                    width: 100%
                .filter
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    background: rgba(0,0,0,0.25)
                    z-index: 1
                .meta
                    position: absolute
                    top: 5%
                    left: 5%
                    width: 90%
                    z-index: 2
                h5
                h3
                    font-size: $big
